@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}

@keyframes animation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transfrom: rotate(0deg);
  }
  50% {
    border-radius: 40% 60% 70% 40% / 50% 70% 40% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transfrom: rotate(360deg);
  }
}

.animate {
  animation: animation 7s ease-in-out infinite;
}

  @theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 744px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
  }

li a {
  display: block;
  text-decoration: none;
  padding:8px 16px;
}

ul {
  list-style-type: none;
}


::-webkit-scrollbar{
  width:12px;
  height:12px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background:#000000;
  /* border-radius: 10px; */
}
