@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}

@keyframes animation {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 40% 70% 40%;
    transfrom: rotate(0deg);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 60% 30% 50% 60%;
    
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 40% 70% 40%;
    transfrom: rotate(360deg);
  }
}

.animate{
  animation:animation 8s ease-in-out infinite;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 744px;  
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}